# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore credentials and service account keys
*.json
*.pem
*.key

# Ignore shell history and temp files
*.log
*.sh~
*.bak
*.tmp

# VSCode settings (if using)
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Terraform (if added later)
.terraform/
terraform.tfstate
terraform.tfstate.*
crash.log
*.tfvars
*.tfplan
*.backup

# Ignore test data
fraud_data.csv
